
.container {
    display: flex;
}
.container_avatar {
    align-self: flex-end;
    margin: 0 0 0 20px;
}
.avatar {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border-color: lightblue;
    border-style: solid;
}

.corner {
    width: 20px;
    height: 20px;

    align-self: flex-end;
    margin: 0 0 10px 5px;

    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 20px, rgba(173, 216, 230, 100) 0);
}


.innerText {
    align-self: flex-end;
    margin: 0 0 10px 0;
    background-color: lightblue;
    border-radius: 10px 10px 10px 0;
}
.name {
    color: blueviolet;
}
.time {
    margin-top: 5px;
    width: 50px;
    margin-left: 170px;
    color: #056e05;
    font-weight: bold;
}